// Imports
import ___CSS_LOADER_API_IMPORT___ from "../../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(true);
// Module
___CSS_LOADER_EXPORT___.push([module.id, "._4jyuca5cx div{max-width:550px}._4jyuca5cx>img{width:275px;height:86px}._2lshaCWsx{position:relative}._2lshaCWsx:focus{z-index:1}", "",{"version":3,"sources":["webpack://client/management/orgs/people/distribution-groups/distribution-groups.scss"],"names":[],"mappings":"AACE,gBACE,eAAA,CAGF,gBACE,WAAA,CACA,WAAA,CAIJ,YACE,iBAAA,CAEA,kBACE,SAAA","sourcesContent":[".empty-groups {\n  div {\n    max-width: 550px;\n  }\n\n  >img {\n    width: 275px;\n    height: 86px;\n  }\n}\n\n.row {\n  position: relative;\n\n  &:focus {\n    z-index: 1;\n  }\n}"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"empty-groups": "_4jyuca5cx",
	"emptyGroups": "_4jyuca5cx",
	"row": "_2lshaCWsx"
};
export default ___CSS_LOADER_EXPORT___;
