// Imports
import ___CSS_LOADER_API_IMPORT___ from "../../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(true);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".VXUXQQHAx>*{margin-left:40px}.VXUXQQHAx>:first-child{margin:0}._7Jn82fJDx{text-transform:uppercase}", "",{"version":3,"sources":["webpack://client/management/orgs/people/team-details/team-details.scss"],"names":[],"mappings":"AAGE,aACE,gBAAA,CAGF,wBACE,QAAA,CAIJ,YACE,wBAAA","sourcesContent":["@import \"~@css/vars.scss\";\n\n.controls {\n  > * {\n    margin-left: 40px;\n  }\n\n  > :first-child {\n    margin: 0;\n  }\n}\n\n.uppercase {\n  text-transform: uppercase;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"tabletScreen": "768px",
	"smallScreen": "1100px",
	"mediumScreen": "1300px",
	"largeScreen": "1500px",
	"azure": "#006fc8",
	"cyan": "#1faece",
	"primaryText": "var(--primary-text)",
	"secondaryText": "var(--secondary-text)",
	"chartGridColor": "var(--ui-divider)",
	"gray10": "#dedede",
	"msDarkBlue": "#002050",
	"amberLight2": "#f7e28b",
	"violetLight2": "#cec0ec",
	"tealLight3": "#cfece8",
	"bannerBlue": "var(--banner-blue)",
	"spaceXXS": "4px",
	"spaceXS": "8px",
	"spaceS": "16px",
	"spaceM": "20px",
	"spaceXM": "24px",
	"spaceL": "32px",
	"spaceXL": "40px",
	"spaceXXL": "60px",
	"panelSlideDuration": "200ms",
	"panelFadeDuration": "100ms",
	"ccBannerHeight": "46px",
	"controls": "VXUXQQHAx",
	"uppercase": "_7Jn82fJDx"
};
export default ___CSS_LOADER_EXPORT___;
