// Imports
import ___CSS_LOADER_API_IMPORT___ from "../../../../../../node_modules/css-loader/dist/runtime/api.js";
import ___CSS_LOADER_ICSS_IMPORT_0___ from "-!../../../../../../node_modules/css-loader/dist/cjs.js??ref--6-1!../../../../../../node_modules/postcss-loader/dist/cjs.js!../../../../../../node_modules/sass-loader/dist/cjs.js!../../../../../shared/styles/utils.scss";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(true);
___CSS_LOADER_EXPORT___.i(___CSS_LOADER_ICSS_IMPORT_0___, "", true);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".zrcRiR3kx{margin-right:20px}@media(max-height: 300px){._735Qcmicx{max-height:30px;padding:0px 20px}}", "",{"version":3,"sources":["webpack://client/management/orgs/people/distribution-groups/new-distribution-group/new-distribution-group.scss"],"names":[],"mappings":"AAAA,WAEE,iBAAA,CAGF,0BACE,YACE,eAAA,CACA,gBAAA,CAAA","sourcesContent":[".error-message {\n  composes: form-error-message from '~@css/utils.scss';\n  margin-right: 20px;\n}\n\n@media (max-height: 300px) {\n  .top-bar {\n    max-height: 30px;\n    padding: 0px 20px;\n  }\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"error-message": "zrcRiR3kx " + ___CSS_LOADER_ICSS_IMPORT_0___.locals["form-error-message"] + "",
	"errorMessage": "zrcRiR3kx " + ___CSS_LOADER_ICSS_IMPORT_0___.locals["form-error-message"] + "",
	"top-bar": "_735Qcmicx",
	"topBar": "_735Qcmicx"
};
export default ___CSS_LOADER_EXPORT___;
