// Imports
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
import ___CSS_LOADER_ICSS_IMPORT_0___ from "-!../../../node_modules/css-loader/dist/cjs.js??ref--6-1!../../../node_modules/postcss-loader/dist/cjs.js!../../../node_modules/sass-loader/dist/cjs.js!../../shared/styles/utils.scss";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(true);
___CSS_LOADER_EXPORT___.i(___CSS_LOADER_ICSS_IMPORT_0___, "", true);
// Module
___CSS_LOADER_EXPORT___.push([module.id, "._4obSTxjGx{min-width:100%}._6KaIaO11x{padding-left:15px}.FRrsEeMJx{text-decoration:none}._3K1h5zBdx{margin-bottom:12px}._2s5ObPkex{margin-top:100px}._6bEp6wYxx{}", "",{"version":3,"sources":["webpack://client/management/support/create-support-case-modal.scss"],"names":[],"mappings":"AAAA,YACE,cAAA,CAEF,YACE,iBAAA,CAEF,WACE,oBAAA,CAEF,YACE,kBAAA,CAEF,YACE,gBAAA,CAEF,YACE","sourcesContent":[".full-width {\n  min-width: 100%;\n}\n.icon {\n  padding-left: 15px;\n}\n.link {\n  text-decoration: none;\n}\n.space {\n  margin-bottom: 12px;\n}\n.success {\n  margin-top: 100px;\n}\n.submit {\n  composes: flex-end from '~@css/utils.scss';\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"full-width": "_4obSTxjGx",
	"fullWidth": "_4obSTxjGx",
	"icon": "_6KaIaO11x",
	"link": "FRrsEeMJx",
	"space": "_3K1h5zBdx",
	"success": "_2s5ObPkex",
	"submit": "_6bEp6wYxx " + ___CSS_LOADER_ICSS_IMPORT_0___.locals["flex-end"] + ""
};
export default ___CSS_LOADER_EXPORT___;
