// Imports
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
import ___CSS_LOADER_ICSS_IMPORT_0___ from "-!../../../node_modules/css-loader/dist/cjs.js??ref--6-1!../../../node_modules/postcss-loader/dist/cjs.js!../../../node_modules/sass-loader/dist/cjs.js!../styles/utils.scss";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(true);
___CSS_LOADER_EXPORT___.i(___CSS_LOADER_ICSS_IMPORT_0___, "", true);
// Module
___CSS_LOADER_EXPORT___.push([module.id, "._5CDWdzFjx{display:inline-block;flex-grow:0;flex-shrink:0;vertical-align:top}@media screen and (-ms-high-contrast: active){._5CDWdzFjx path{fill:buttonText}[data-inverts-on-hover=high-contrast]:hover ._5CDWdzFjx path,[data-inverted=high-contrast] ._5CDWdzFjx path{fill:window}}._3oMmjCzqx path{fill:var(--hint-text)}@media screen and (-ms-high-contrast: active){._3oMmjCzqx path{fill:buttonText}}._2vOGYVGGx path{fill:var(--secondary-text)}@media screen and (-ms-high-contrast: active){._2vOGYVGGx path{fill:buttonText}}._6sqKoFgQx path{fill:#006fc8}@media screen and (-ms-high-contrast: active){._6sqKoFgQx path{fill:buttonText}}._503hEN1Ex path{fill:#38a495}@media screen and (-ms-high-contrast: active){._503hEN1Ex path{fill:buttonText}}._1vOnmRGvx path{fill:#638f28}@media screen and (-ms-high-contrast: active){._1vOnmRGvx path{fill:buttonText}}._6zU51s6Sx path{fill:#7e68c2}@media screen and (-ms-high-contrast: active){._6zU51s6Sx path{fill:buttonText}}._6seeWspox path{fill:#e2553d}@media screen and (-ms-high-contrast: active){._6seeWspox path{fill:buttonText}}._6xIfiK9qx path{fill:#d38227}@media screen and (-ms-high-contrast: active){._6xIfiK9qx path{fill:buttonText}}._7xLACWkgx path{fill:var(--primary-text)}@media screen and (-ms-high-contrast: active){._7xLACWkgx path{fill:buttonText}}._3BBZbGQZx path{fill:var(--primary-text-invert)}@media screen and (-ms-high-contrast: active){._3BBZbGQZx path{fill:buttonText}}._6wDAr9Ldx path{fill:var(--secondary-text)}@media screen and (-ms-high-contrast: active){._6wDAr9Ldx path{fill:buttonText}}._6CUwTwcpx path{fill:var(--secondary-text-invert)}@media screen and (-ms-high-contrast: active){._6CUwTwcpx path{fill:buttonText}}._4Rzhz54Sx path{fill:var(--error-text)}@media screen and (-ms-high-contrast: active){._4Rzhz54Sx path{fill:buttonText}}._5STfMVq6x path{fill:#ff6c5c}@media screen and (-ms-high-contrast: active){._5STfMVq6x path{fill:buttonText}}._2sGAs0eLx path{fill:var(--warning-text)}@media screen and (-ms-high-contrast: active){._2sGAs0eLx path{fill:buttonText}}._5mKn6QiBx path{fill:#f0b240}@media screen and (-ms-high-contrast: active){._5mKn6QiBx path{fill:buttonText}}._3e868pLYx path{fill:var(--success-text)}@media screen and (-ms-high-contrast: active){._3e868pLYx path{fill:buttonText}}._2mZUz4s6x path{fill:purple}@media screen and (-ms-high-contrast: active){._2mZUz4s6x path{fill:buttonText}}._16P2rEmDx path{fill:var(--link-text)}@media screen and (-ms-high-contrast: active){._16P2rEmDx path{fill:buttonText}}._3YWVgRMFx path{fill:#3f9ae4}@media screen and (-ms-high-contrast: active){._3YWVgRMFx path{fill:buttonText}}._24nEyhxYx path{fill:var(--hint-text)}@media screen and (-ms-high-contrast: active){._24nEyhxYx path{fill:buttonText}}._4a7nhu9Px path{fill:rgba(255,255,255,.32)}@media screen and (-ms-high-contrast: active){._4a7nhu9Px path{fill:buttonText}}._1LGciyKGx path{fill:rgba(0,0,0,.9)}@media screen and (-ms-high-contrast: active){._1LGciyKGx path{fill:buttonText}}._5S6qqq4ox path{fill:rgba(0,0,0,.9)}@media screen and (-ms-high-contrast: active){._5S6qqq4ox path{fill:buttonText}}._5BW1gUAOx path{fill:var(--always-light-text)}@media screen and (-ms-high-contrast: active){._5BW1gUAOx path{fill:buttonText}}.DMbQs9ZUx path{fill:var(--always-light-text)}@media screen and (-ms-high-contrast: active){.DMbQs9ZUx path{fill:buttonText}}._3heVKreqx path{fill:var(--success-text)}@media screen and (-ms-high-contrast: active){._3heVKreqx path{fill:buttonText}}._3LLDY4dix path{fill:var(--error-text)}@media screen and (-ms-high-contrast: active){._3LLDY4dix path{fill:buttonText}}._4RP7rdanx path{fill:#008571}@media screen and (-ms-high-contrast: active){._4RP7rdanx path{fill:buttonText}}._3QwmCx8Hx path{fill:#2c7797}@media screen and (-ms-high-contrast: active){._3QwmCx8Hx path{fill:buttonText}}._4dsn4APDx path{fill:var(--link-text)}@media screen and (-ms-high-contrast: active){._4dsn4APDx path{fill:buttonText}}._1eU2Mu4ux path{fill:#d38227}@media screen and (-ms-high-contrast: active){._1eU2Mu4ux path{fill:buttonText}}._7fxextPNx path{fill:#787878}@media screen and (-ms-high-contrast: active){._7fxextPNx path{fill:buttonText}}._2qtY7UXfx{}._2qtY7UXfx path{fill:rgba(0,0,0,.1)}@media screen and (-ms-high-contrast: active){._2qtY7UXfx path{fill:windowText}}._3pTUJQymx{height:12px;width:12px}._3aHHtyirx{margin:0px}._4LwdWABVx{margin:2px}._27rg3tBLx{margin:4px}._1gheRteSx{height:16px;width:16px}._2LiWWuycx{margin:0px}._1kRmqERCx{margin:2px}._5CePhAZ0x{margin:4px}._1K2T3D3Gx{height:20px;width:20px}._63qwp1dfx{margin:0px}._15hKH6yJx{margin:2px}._2bIBWD4vx{margin:6px}._1voSlAPox{height:24px;width:24px}._6BYaaGZNx{margin:0px}._5ew7s4Gsx{margin:0px}._3g5bFDZRx{margin:4px}._2YQcFmh1x{height:32px;width:32px}._5L93gX1tx{margin:0px}._4BeG6Wjdx{margin:0px}._7voS3o1Wx{margin:4px}._4LpkHqg8x{height:48px;width:48px}._3IVhoaDux{margin:-4px}._31Pf6BX9x{margin:0px}.S0vd6DJix{margin:0px}._3oy4nF9bx{height:64px;width:64px}._4EUqtTo5x{margin:-2px}.wTxujcYax{margin:0px}._2nhSi96tx{margin:0px}@keyframes _2jkfu42zx{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}svg._2jkfu42zx{animation:_2jkfu42zx 4s linear infinite}svg._2NqiLFNax{animation:_2jkfu42zx 1.5s linear infinite;height:26px;width:26px}@keyframes _6j1xmVewx{0%{opacity:1}30%{opacity:0}100%{opacity:1}}svg._4HjNPu8Rx{transform:translateZ(1px)}svg._4HjNPu8Rx circle{animation:_6j1xmVewx 1s linear infinite both}svg._4HjNPu8Rx circle:nth-of-type(2){animation-delay:.15s}svg._4HjNPu8Rx circle:nth-of-type(3){animation-delay:.3s}", "",{"version":3,"sources":["webpack://client/shared/icon/icon.scss"],"names":[],"mappings":"AAEA,YACE,oBAAA,CACA,WAAA,CACA,aAAA,CACA,kBAAA,CAEA,8CACE,iBACE,eAAA,CACA,4GACE,WAAA,CAAA,CA4CN,iBACE,qBAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,0BAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtCS,CAwCT,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,wBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,+BAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,0BAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,iCAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,sBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,wBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,wBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,WAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,qBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,qBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,0BAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,mBAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,mBAmBoB,CAjBpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,6BAgBoB,CAdpB,8CAHF,iBAII,eAAA,CAAA,CAJJ,gBACE,6BAmBoB,CAjBpB,8CAHF,gBAII,eAAA,CAAA,CAJJ,iBACE,wBAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,sBAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,qBAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CAJJ,iBACE,YAtBY,CAwBZ,8CAHF,iBAII,eAAA,CAAA,CA0BN,YACE,CACA,iBACE,mBAAA,CAEF,8CACC,iBACG,eAAA,CAAA,CASJ,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,UAAA,CAEF,YACE,UAAA,CAEF,YACE,UAAA,CAZF,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,UAAA,CAEF,YACE,UAAA,CAEF,YACE,UAAA,CAZF,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,UAAA,CAEF,YACE,UAAA,CAEF,YACE,UAAA,CAZF,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,UAAA,CAEF,YACE,UAAA,CAEF,YACE,UAAA,CAZF,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,UAAA,CAEF,YACE,UAAA,CAEF,YACE,UAAA,CAZF,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,WAAA,CAEF,YACE,UAAA,CAEF,WACE,UAAA,CAZF,YAEE,WAHU,CAIV,UAJU,CAMZ,YACE,WAAA,CAEF,WACE,UAAA,CAEF,YACE,UAAA,CAIJ,sBACE,GAAA,mBAAA,CACA,KAAA,wBAAA,CAAA,CAGF,eACE,uCAAA,CAGF,eACC,yCAAA,CACA,WAAA,CACA,UAAA,CAGD,sBACE,GAAA,SAAA,CACA,IAAA,SAAA,CACA,KAAA,SAAA,CAAA,CAGF,eACE,yBAAA,CACA,sBACE,4CAAA,CACA,qCACE,oBAAA,CAEF,qCACE,mBAAA","sourcesContent":["@import '../styles/variables.scss';\n\n.icon {\n  display: inline-block;\n  flex-grow: 0;\n  flex-shrink: 0;\n  vertical-align: top;\n  // Edge high contrast mode\n  @media screen and (-ms-high-contrast: active) {\n    path {\n      fill: buttonText;\n      [data-inverts-on-hover=\"high-contrast\"]:hover &, [data-inverted=\"high-contrast\"] & {\n        fill: window;\n      }\n    }\n  }\n}\n\n// TODO: remove these colors once we migrate to TextColors\n$old-colors: (\n  \"lightgray\": $disabled-text, \"gray\": $secondary-text, \"blue\": $blue, \"teal\": $teal-dark1, \"green\": $green-dark1, \"violet\": $violet-dark1, \"red\": $red-dark1, \"amber\": $amber-dark2\n);\n\n$colors: (\n  primary:   ( normal: $primary-text, invert: $primary-text-invert ),\n  secondary: ( normal: $secondary-text, invert: $secondary-text-invert ),\n  error:     ( normal: $error-text, invert: $error-text-invert ),\n  warning:   ( normal: $warning-text, invert: $warning-text-invert ),\n  success:   ( normal: $success-text, invert: $success-text-invert ),\n  link:      ( normal: $link-text, invert: $link-text-invert ),\n  disabled:  ( normal: $disabled-text, invert: $disabled-text-invert ),\n  \"black\":     ( normal: $black-text, invert: $black-text ),\n  \"white\":     ( normal: var(--always-light-text), invert: var(--always-light-text) )\n);\n\n$status-colors: (\n  \"green\": $status-green,\n  \"red\": $status-red,\n  \"teal\": $status-teal,\n  \"cyan\": $status-cyan,\n  \"blue\": $status-blue,\n  \"amber\": $status-amber,\n  \"gray\": $status-gray\n);\n\n$sizes: (\n  xxsmall: ( icon: 12px, compact: 12px, normal: 16px, relaxed: 20px ),\n  xsmall:  ( icon: 16px, compact: 16px, normal: 20px, relaxed: 24px ),\n  small:   ( icon: 20px, compact: 20px, normal: 24px, relaxed: 32px ),\n  xmedium: ( icon: 24px, compact: 24px, normal: 24px, relaxed: 32px ),\n  medium:  ( icon: 32px, compact: 32px, normal: 32px, relaxed: 40px ),\n  large:   ( icon: 48px, compact: 40px, normal: 48px, relaxed: 48px ),\n  xlarge:  ( icon: 64px, compact: 60px, normal: 64px, relaxed: 64px )\n);\n\n@mixin icon-color($color) {\n  path {\n    fill: $color;\n    // Edge high contrast mode\n    @media screen and (-ms-high-contrast: active) {\n      fill: buttonText;\n    }\n  }\n}\n\n@each $name, $value in $old-colors {\n  .#{$name} {\n    @include icon-color($value);\n  }\n}\n\n@each $name, $colors-map in $colors {\n  .#{$name} {\n    @include icon-color(map-get($colors-map, normal));\n  }\n  .#{$name}-invert {\n    @include icon-color(map-get($colors-map, invert));\n  }\n}\n\n@each $name, $value in $status-colors {\n  .status-#{$name} {\n    @include icon-color($value);\n  }\n}\n\n.skeleton {\n  composes: skeleton-pulse from '../styles/utils.scss';\n  path {\n    fill: rgba(0, 0, 0, 0.1);\n  }\n  @media screen and (-ms-high-contrast: active) {\n   path {\n      fill: windowText;\n    }\n  }\n}\n\n// IconSize\n\n@each $size-key, $size-map in $sizes {\n  $icon-size: map-get($size-map, icon);\n  .#{$size-key} {\n    composes: icon;\n    height: $icon-size;\n    width: $icon-size;\n  }\n  .#{$size-key}-compact {\n    margin: (map-get($size-map, compact) - $icon-size) * 0.5;\n  }\n  .#{$size-key}-normal {\n    margin: (map-get($size-map, normal) - $icon-size) * 0.5;\n  }\n  .#{$size-key}-relaxed {\n    margin: (map-get($size-map, relaxed) - $icon-size) * 0.5;\n  }\n}\n\n@keyframes icon-loading {\n  0% { transform: rotate(0); }\n  100% { transform: rotate(360deg); }\n}\n\nsvg.icon-loading {\n  animation: icon-loading 4s linear infinite;\n}\n\nsvg.icon-spinner {\n animation: icon-loading 1.5s linear infinite;\n height: 26px;\n width: 26px;\n}\n\n@keyframes icon-status-running-tick {\n  0% { opacity: 1; }\n  30% { opacity: 0; }\n  100% { opacity: 1; }\n}\n\nsvg.icon-status-running {\n  transform: translateZ(1px);\n  circle {\n    animation: icon-status-running-tick 1s linear infinite both;\n    &:nth-of-type(2) {\n      animation-delay: 0.15s;\n    }\n    &:nth-of-type(3) {\n      animation-delay: 0.3s;\n    }\n  }\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"tabletScreen": "768px",
	"smallScreen": "1100px",
	"mediumScreen": "1300px",
	"largeScreen": "1500px",
	"azure": "#006fc8",
	"cyan": "#1faece",
	"primaryText": "var(--primary-text)",
	"secondaryText": "var(--secondary-text)",
	"chartGridColor": "var(--ui-divider)",
	"gray10": "#dedede",
	"msDarkBlue": "#002050",
	"amberLight2": "#f7e28b",
	"violetLight2": "#cec0ec",
	"tealLight3": "#cfece8",
	"bannerBlue": "var(--banner-blue)",
	"spaceXXS": "4px",
	"spaceXS": "8px",
	"spaceS": "16px",
	"spaceM": "20px",
	"spaceXM": "24px",
	"spaceL": "32px",
	"spaceXL": "40px",
	"spaceXXL": "60px",
	"panelSlideDuration": "200ms",
	"panelFadeDuration": "100ms",
	"ccBannerHeight": "46px",
	"icon": "_5CDWdzFjx",
	"lightgray": "_3oMmjCzqx",
	"gray": "_2vOGYVGGx",
	"blue": "_6sqKoFgQx",
	"teal": "_503hEN1Ex",
	"green": "_1vOnmRGvx",
	"violet": "_6zU51s6Sx",
	"red": "_6seeWspox",
	"amber": "_6xIfiK9qx",
	"primary": "_7xLACWkgx",
	"primary-invert": "_3BBZbGQZx",
	"primaryInvert": "_3BBZbGQZx",
	"secondary": "_6wDAr9Ldx",
	"secondary-invert": "_6CUwTwcpx",
	"secondaryInvert": "_6CUwTwcpx",
	"error": "_4Rzhz54Sx",
	"error-invert": "_5STfMVq6x",
	"errorInvert": "_5STfMVq6x",
	"warning": "_2sGAs0eLx",
	"warning-invert": "_5mKn6QiBx",
	"warningInvert": "_5mKn6QiBx",
	"success": "_3e868pLYx",
	"success-invert": "_2mZUz4s6x",
	"successInvert": "_2mZUz4s6x",
	"link": "_16P2rEmDx",
	"link-invert": "_3YWVgRMFx",
	"linkInvert": "_3YWVgRMFx",
	"disabled": "_24nEyhxYx",
	"disabled-invert": "_4a7nhu9Px",
	"disabledInvert": "_4a7nhu9Px",
	"black": "_1LGciyKGx",
	"black-invert": "_5S6qqq4ox",
	"blackInvert": "_5S6qqq4ox",
	"white": "_5BW1gUAOx",
	"white-invert": "DMbQs9ZUx",
	"whiteInvert": "DMbQs9ZUx",
	"status-green": "_3heVKreqx",
	"statusGreen": "_3heVKreqx",
	"status-red": "_3LLDY4dix",
	"statusRed": "_3LLDY4dix",
	"status-teal": "_4RP7rdanx",
	"statusTeal": "_4RP7rdanx",
	"status-cyan": "_3QwmCx8Hx",
	"statusCyan": "_3QwmCx8Hx",
	"status-blue": "_4dsn4APDx",
	"statusBlue": "_4dsn4APDx",
	"status-amber": "_1eU2Mu4ux",
	"statusAmber": "_1eU2Mu4ux",
	"status-gray": "_7fxextPNx",
	"statusGray": "_7fxextPNx",
	"skeleton": "_2qtY7UXfx " + ___CSS_LOADER_ICSS_IMPORT_0___.locals["skeleton-pulse"] + "",
	"xxsmall": "_3pTUJQymx _5CDWdzFjx",
	"xxsmall-compact": "_3aHHtyirx",
	"xxsmallCompact": "_3aHHtyirx",
	"xxsmall-normal": "_4LwdWABVx",
	"xxsmallNormal": "_4LwdWABVx",
	"xxsmall-relaxed": "_27rg3tBLx",
	"xxsmallRelaxed": "_27rg3tBLx",
	"xsmall": "_1gheRteSx _5CDWdzFjx",
	"xsmall-compact": "_2LiWWuycx",
	"xsmallCompact": "_2LiWWuycx",
	"xsmall-normal": "_1kRmqERCx",
	"xsmallNormal": "_1kRmqERCx",
	"xsmall-relaxed": "_5CePhAZ0x",
	"xsmallRelaxed": "_5CePhAZ0x",
	"small": "_1K2T3D3Gx _5CDWdzFjx",
	"small-compact": "_63qwp1dfx",
	"smallCompact": "_63qwp1dfx",
	"small-normal": "_15hKH6yJx",
	"smallNormal": "_15hKH6yJx",
	"small-relaxed": "_2bIBWD4vx",
	"smallRelaxed": "_2bIBWD4vx",
	"xmedium": "_1voSlAPox _5CDWdzFjx",
	"xmedium-compact": "_6BYaaGZNx",
	"xmediumCompact": "_6BYaaGZNx",
	"xmedium-normal": "_5ew7s4Gsx",
	"xmediumNormal": "_5ew7s4Gsx",
	"xmedium-relaxed": "_3g5bFDZRx",
	"xmediumRelaxed": "_3g5bFDZRx",
	"medium": "_2YQcFmh1x _5CDWdzFjx",
	"medium-compact": "_5L93gX1tx",
	"mediumCompact": "_5L93gX1tx",
	"medium-normal": "_4BeG6Wjdx",
	"mediumNormal": "_4BeG6Wjdx",
	"medium-relaxed": "_7voS3o1Wx",
	"mediumRelaxed": "_7voS3o1Wx",
	"large": "_4LpkHqg8x _5CDWdzFjx",
	"large-compact": "_3IVhoaDux",
	"largeCompact": "_3IVhoaDux",
	"large-normal": "_31Pf6BX9x",
	"largeNormal": "_31Pf6BX9x",
	"large-relaxed": "S0vd6DJix",
	"largeRelaxed": "S0vd6DJix",
	"xlarge": "_3oy4nF9bx _5CDWdzFjx",
	"xlarge-compact": "_4EUqtTo5x",
	"xlargeCompact": "_4EUqtTo5x",
	"xlarge-normal": "wTxujcYax",
	"xlargeNormal": "wTxujcYax",
	"xlarge-relaxed": "_2nhSi96tx",
	"xlargeRelaxed": "_2nhSi96tx",
	"icon-loading": "_2jkfu42zx",
	"iconLoading": "_2jkfu42zx",
	"icon-spinner": "_2NqiLFNax",
	"iconSpinner": "_2NqiLFNax",
	"icon-status-running": "_4HjNPu8Rx",
	"iconStatusRunning": "_4HjNPu8Rx",
	"icon-status-running-tick": "_6j1xmVewx",
	"iconStatusRunningTick": "_6j1xmVewx"
};
export default ___CSS_LOADER_EXPORT___;
